@extend base

@block title {@title}

@block content {
<div class="site">
	<div class="sub">
		@title
	</div>
	<div>
		<div class="auth">
			Authentication and Authorization
		</div>
		<div class="box">
			@link req, AuthAdminView::record_index::<Group>, class="link" {Groups}
			@link req, AuthAdminView::record_new::<Group>, class="add" {Add}
		</div>
		<div class="box">
			@link req, AuthAdminView::record_index::<User>, class="link" {Users}
			@link req, AuthAdminView::record_new::<User>, class="add" {Add}
		</div>
		@if req.admin().lock().unwrap().admin_entries().len() > 1 {
		@for admin_entry in &req.admin().lock().unwrap().admin_entries()[1..] {
		<br>
		<br>
		<div class="auth">
			@admin_entry.app_name()
		</div>
		@for entry in admin_entry.entries() {
		<div class="box">
			@link req, entry.index, class="link" {@entry.name}
			@link req, entry.new, class="add" {Add}
		</div>
		}
		}
		}
	</div>
</div>
}
