<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Multi-factor authentication | Anansi site admin</title>
		<link rel="stylesheet" href="/static/admin/login.css">
	</head>
	<body>
		<div class="login">
			<div class="bar">
				Multi-factor authentication
			</div>
			<div class="message">
				Do you want to protect your account with multi-factor authentication?
				<br>
				<div class="center-div">
					<a href="/admin/setup_mfa" class="button">Yes</a>
					<a href="/admin" class="button">No</a>
				</div>
			</div>
		</div>
	</body>
</html>
